<section class="well">
  <ul class="nav">
    <li class="nav-header">trackfeed</li>
  </ul>
  <a href="http://trackfeed.com/"><img name="trackfeed_banner" src="http://img.trackfeed.com/img/tfg.gif" alt="track feed" border="0" align="absmiddle" /></a>
  <nobr><a href="http://trackfeed.com/u/e70a3efe23bf7df4d569af9690c3c292e23617ad/fukayatus.dev%28%29/http%3A%2F%2Ffukayatsu.github.com%2F/01894048">fukayatus.dev()</a></nobr>
  <script type="text/javascript">
  document.write(unescape("%3Cscript src='http://script.trackfeed.com/usr/3/9/2fa5e675.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
</section>
